* {
    box-sizing: border-box;
}

a {
    font-style: none;
    color: rgb(59, 59, 59);
    text-decoration: none;
 }

 body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;;
 }

 h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin-left: 13%;
 }

 .button {
    background-color: rgb(77, 56, 92);
    color: whitesmoke;
    border-radius: 40px;
    padding: 15px 30px; 
    font-size: 17px;
}

header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

header img {
    height: 100%;
}

form {
    margin-top: 50px;
}

.grid {
    display: flex;
    width: 70%;
    margin: auto;
}

.images {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images img {
    width: 100%;
}

.spans {
    margin-top: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

@media screen and (max-width: 795px) {
   .grid {
       display: flex;
       flex-wrap: wrap;
   }

   .images {
       width: 50%;
   }
}


